body {
    display: flex;
    background-color: rgb(221, 234, 200);
    align-content: center;
    justify-content: center;
    transform: rotate(-45deg);
    margin-right: 200px;
    /* margin-right: ayuda a centrar el contenido */
}
div {
    width: 100px;
    height: 100px;
    margin-top: 200px;
}

#div-1 {
    background-color: red;
    transform: scale(-1);
    margin-top: 200px;
    transform: rotate(45deg);
    border-radius: 50px 0px 50px 50px;
    z-index: 3;
}

#div-2 {
    background-color: green;
    position: relative;
    transform: rotate(45deg);
    border-radius: 50px 0px 50px 50px;
    z-index: 2;
}

#div-3 {
    background-color: blue;
    border-radius: 50px 0px 50px 50px;
    transform: rotate(-135deg);
    z-index: 1;
}