.layout {
    display: grid;
    height: 100vh;

    grid-template-areas:
        "header header"
        "nav-top nav-top"
        "nav main"
        "footer footer";

    grid-template-rows: 80px 40px 1fr 120px;
    grid-template-columns: 220px 1fr;
    gap: 10px;
}
body {
    font-family:sans-serif;
    font-size: 14px;
    background-color:aliceblue
}
.header{
    grid-area: header;
    background-color: #32ECC7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #32ECC7 0%, #50DD4F 100%);
}
.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1px;
    font-size: xx-large;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: azure;
        text-shadow:
        -1px -1px 0 #ffffff,  
         1px -1px 0 #f7ecec,
        -1px  1px 0 #fcfafa,
         1px  1px 0 #c2bcbc;
}
.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 20px;
    width: 100px;
}
.header-left img {
    width: 100px;
    height: auto;
}
.nav-top {
    grid-area: nav-top;
    background-color: #464655;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav-top ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

}
.nav{
    grid-area: nav;
    background-color: #50DD4F;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 0;
    margin-left: 20px;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(36, 36, 36);
    font-size: 18px;
    font-weight: bold;
}
.nav-top ul li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.main{
    grid-area: main;
    background-color:#D5CFE1;
    padding: 20px;
}
.product-container {
    display: grid;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: start;
}
.product-card {
    width: 150px;
    text-align: center;
    margin: 10px 10px 10px;
}
.product-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.product-card h4 {
    margin: 4px 0;
    font-size: 16px;
    color: black;
}
.product-card p {
    margin-top: 4px;
    margin-bottom: 4px;
}
.product-card a {
    text-decoration: none;
}
.footer {
    grid-area: footer;
    background-color: #464655;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 60px;
}
.footer-section {
    text-align: left;
    padding: 10px;
}
.footer-section ul{
    padding: 0;
    margin: 0;
    list-style: none;

}
.footer-section p ,
.footer-section h3 {
    padding: 0px;
    margin: 0px;
}
.footer-section ul li a{
    text-decoration: none;
    color: greenyellow;
}